/build/disk/disk.o
/build/idt/idt.asm.o
/build/idt/idt.o
/build/io/io.asm.o
/build/memory/heap/heap.o
/build/memory/heap/kheap.o
/build/memory/paging/paging.asm.o
/build/memory/paging/paging.o
/build/memory/memory.o
/build/kernel.asm.o
/build/kernel.o
/build/kernelfull.o
/bin/boot.bin
/bin/kernel.bin
/bin/os.bin